:root {
    --navBackground: #111;
    --navText: #fff;

    --mainBackground: #222;
    --mainText: #eee;

    --formboxBackground: #ccc;
    --formboxText: #444;
    --formboxBackgroundChecked: #bef;
    --formboxTextChecked: #367;
    --formboxBackgroundHover: #bbf;
    --formboxTextHover: #447;

    --formboxBorder: #444;
    --formboxBorderChecked: #44f;
    --formboxBorderHover: #4cf;

    --formboxWidth: 12ch;
    --formboxBorderWidth: 2px;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--mainBackground);
    color: var(--mainText);
}
header {
    background-color: var(--navBackground);
    color: var(--navText);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.hero {
    display: flex;
    justify-content: space-around;
}
.customise {
    background-color: var(--mainBackground);
    color: var(--mainText);
}
fieldset {
    display: flex;
}
.formbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.formbox label {
    background-color: var(--formboxBackground);
    color: var(--formboxText);
    border: var(--formboxBorderWidth) solid var(--formboxBorder);

    margin: 0.4rem;
    padding: 0.4rem;
    display: block;
    width: var(--formboxWidth);
    height: var(--formboxWidth);
}
.formbox label:hover {
    background-color: var(--formboxBackgroundHover);
    color: var(--formboxTextHover);
    border: var(--formboxBorderWidth) solid var(--formboxBorderHover);
}
.formbox input:checked ~ label {
    background-color: var(--formboxBackgroundChecked);
    color: var(--formboxTextChecked);
    border: var(--formboxBorderWidth) solid var(--formboxBorderChecked);
}
footer {
    height: 5rem;
    margin-top: 40ch;
    background-color: var(--navBackground);
    color: var(--navText);
}
