:root {
    --navBackground: #111;
    --navText: #fff;

    --mainBackground: #222;
    --mainText: #eee;

    --formboxBackground: #111;
    --formboxText: #eee;
    --formboxBackgroundChecked: #6ef;
    --formboxTextChecked: #024;
    --formboxBackgroundHover: #000;
    --formboxTextHover: #ddd;

    --formboxBorder: #444;
    --formboxBorderChecked: #44f;
    --formboxBorderHover: #6ef;

    --formboxWidth: 16ch;
    --formboxBorderWidth: 2px;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--mainBackground);
    color: var(--mainText);
}
header {
    background-color: var(--navBackground);
    color: var(--navText);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.hero {
    display: flex;
    justify-content: space-around;
}
.customise {
    background-color: var(--mainBackground);
    color: var(--mainText);
    padding: 1rem 0;
}
fieldset {
    display: flex;
    margin: 0;
    padding: 0.4rem 0;
    border: none;
}
.formbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.formbox label {
    background-color: var(--formboxBackground);
    color: var(--formboxText);
    border: var(--formboxBorderWidth) solid var(--formboxBorder);

    cursor: pointer;
    padding: 0.4rem;
    margin: 0.25rem;
    display: block;
    width: var(--formboxWidth);
}
.formbox label:hover,
.formbox input:focus ~ label {
    background-color: var(--formboxBackgroundHover);
    color: var(--formboxTextHover);
    border: var(--formboxBorderWidth) solid var(--formboxBorderHover);
}
.formbox input:checked ~ label {
    background-color: var(--formboxBackgroundChecked);
    color: var(--formboxTextChecked);
    border: var(--formboxBorderWidth) solid var(--formboxBorderChecked);
}
footer {
    height: 5rem;
    margin-top: 40ch;
    background-color: var(--navBackground);
    color: var(--navText);
}
